################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Droid/obj/Debug
/Droid/obj/Debug
/iOS/obj/iPhoneSimulator/Debug
/Players/obj/Debug
